Source: syscall-intercept
Maintainer: Marcin Ślusarz <marcin.slusarz@intel.com>
Section: misc
Priority: optional
Standards-version: 3.9.8
Build-Depends: cmake (>= 3.3), debhelper (>= 9), libcapstone-dev (>= 3.0), pkg-config

Package: libsyscall-intercept0
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: System call intercepting library
 The system call intercepting library provides a low-level interface
 for hooking Linux system calls in user space. This is achieved
 by hotpatching the machine code of the standard C library in the
 memory of a process. The user of this library can provide the
 functionality of almost any syscall in user space, using the very
 simple API specified in the libsyscall_intercept_hook_point.h header file.

Package: libsyscall-intercept-dev
Section: libdevel
Architecture: amd64
Depends: ${misc:Depends}, libsyscall-intercept0 (=${binary:Version})
Description: Development files for libsyscall_intercept
 Development files for libsyscall_intercept library.
